<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab2_my_top_news">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sportsweb3Activity"></activity>
        <activity android:name=".Sportsweb2Activity" />
        <activity android:name=".Sportsweb1Activity" />
        <activity android:name=".SportsActivity" />
        <activity android:name=".Scienceweb3Activity" />
        <activity android:name=".Scienceweb2Activity" />
        <activity android:name=".Scienceweb1Activity" />
        <activity android:name=".ScienceActivity" />
        <activity android:name=".Healthweb3Activity" />
        <activity android:name=".Healthweb1Activity" />
        <activity android:name=".Healthweb2Activity" />
        <activity android:name=".Entertainmentweb3Activity" />
        <activity android:name=".Entertainmentweb1Activity" />
        <activity android:name=".Entertainmentweb2Activity" />
        <activity android:name=".HealthActivity" />
        <activity android:name=".Businessweb3Activity" />
        <activity android:name=".Businessweb2Activity" />
        <activity android:name=".Businessweb1Activity" />
        <activity android:name=".newsweb1Activity" />
        <activity android:name=".EntertainmentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>